html
	head
		include head.pug
		script(src='/socket.io/socket.io.js')
		script(src='/js/game.js')
	body
		.cover-container-fluid.d-flex.w-100.h-100.p-3.mx-auto.flex-column
			header.masthead.mb-auto
				.inner.d-flex.justify-content-center
					a.masthead-brand.text-uppercase.display-4(href='/') Codenames
			main.inner.cover(role='main')
				.container-fluid
					.row
						.col-sm
							lead.d-flex.justify-content-center
								btn.btn-lg.btn-light(href='new' type='button').text-uppercase blabla
						.col-sm
							lead.d-flex.justify-content-center
								btn.btn-lg.btn-light(href='new' type='button').text-uppercase blabla
						.col-sm
							lead.d-flex.justify-content-center
								btn.btn-lg.btn-light(href='new' type='button').text-uppercase blabla
						.col-sm
							lead.d-flex.justify-content-center
								btn.btn-lg.btn-light(href='new' type='button').text-uppercase blabla
						.col-sm
							lead.d-flex.justify-content-center
								btn.btn-lg.btn-light(href='new' type='button').text-uppercase blabla
			include footer.pug
		include js.pug