html
  head
    include head.pug
  body
    form(method='POST')
      .form-group
        input#roomUuid.form-control(name='roomCode' placeholder='Entrez un code')
        button.btn.btn-primary(type='submit') Envoyer
    include js.pug