#myModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLongTitle.modal-title= title
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;
			.modal-body
				| ...
			.modal-footer
				button.btn.btn-secondary(type='button' data-dismiss='modal') Close
				button.btn.btn-primary(type='button') Save changes