html
	head
		include head.pug
	body
		.cover-container-fluid.d-flex.w-100.h-100.p-3.mx-auto.flex-column
			header.masthead.mb-auto
				.inner.d-flex.justify-content-center
					a.masthead-brand.text-uppercase.display-4(href='/') Codenames
			main.inner.cover(role='main')
				p.lead.d-flex.justify-content-center
					a(href=link)= message
				p.d-flex.justify-content-center
					a(href=link)= link
				lead.d-flex.justify-content-center
					a.btn.btn-lg.btn-primary(href=link type='button').text-uppercase Go !
			include footer.pug
		include js.pug